@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3b444f;
    text-align: left;
    background-color: #fff;
}


/* -------------------------------------------- HEADER  --------------------------------------------*/

.header__main {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

}

.header__main_container {
    box-shadow: none;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.header__main {
    display: block;
    padding-bottom: 0.5rem;
    /* border-bottom: 1px solid #ebf0f7; */
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 0.5rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header__main_nav {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    z-index: 10;
}

.header__main_nav-logo {
    padding-top: 0.2505rem;
    padding-bottom: 0.2505rem;
    margin-right: 1.875rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #297cbb;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.header_main__navBar {
    display: flex;
    flex-basis: auto;
    position: relative;
    flex-grow: 1;
    order: 0;
}


.header_main__navBar-ul {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    margin-left: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}


.header_main__navBar-li-a {
    display: block;
    padding-left: 0;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1rem;
    color: #3b444f;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;

}



/* -------------------------------------------- MAIN  --------------------------------------------*/


/* HERO */


#contenedor_hero {
    position: relative;
    display: block;
}

.hero {
    display: block;
    background-image: url(https://i4.visitchile.com/img/Banner/16/main.png);
    z-index: 2;
    min-height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 12.5rem !important;
    text-align: center !important;
    position: relative !important;
    box-sizing: border-box;
}

.hero__container_background {
    display: block;
    width: 100%;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    inset: 0px;
    pointer-events: none;
    background-image: url(https://img.youtube.com/vi/zqc3p6aqJG8/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100% !important;
}

.hero__container__background_video {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    opacity: 1;
    width: 2103px;
    height: 1182.94px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.container {
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;

}

.hero__container_title {
    display: block;
    margin-top: 1.5rem !important;
    padding-bottom: 5rem !important;
}

.hero__container_h1 {
    display: block;
    font-weight: 500 !important;
    font-size: 3.75rem;
    color: #fff !important;
    position: relative !important;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    margin-top: 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.hero__container_options {
    display: block;
    padding-bottom: 2.5rem !important;
    padding-top: 1rem !important;


}

.hero__container_options_ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1.5rem !important;
    padding-top: 0.5rem !important;
    justify-content: center !important;
    flex-wrap: nowrap !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.hero__container_options_ul-li {
    margin-right: 0.25rem;
    display: list-item;
    text-align: center;
    list-style: none;
}

.hero__container_options_ul-li-a {
    display: block;
    /* border: 1px solid #408fb9;
    background-color: #408fb9; */
    border-radius: 3px;
    padding: .3rem 1.5rem;
    font-weight: 500 !important;
    position: relative !important;
    color: #297cbb;
    text-decoration: none;

}

.hero__container_options_ul-li-a:focus {
    border: 1px solid #408fb9;
    background-color: #408fb9;
}


.hero__container_a {
    display: flex !important;
    color: #fff !important;
    position: relative !important;
    flex-direction: row !important;
    align-items: center !important;

}

.hero__container_a_fig {
    margin-right: 1rem !important;
    display: block !important;
    margin-bottom: 0;
    margin: 0 0 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;

}

.hero__container_a_i {
    font-size: 2rem;
    font-style: normal;

}

.hero__conainter_a_span {
    font-weight: 500 !important;
    margin-top: 0 !important;

}

.hero__container_search{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.3125rem;
}

.hero__container_search_tab{
    flex: 0 0 30.83333%;
    max-width: 30.83333%;
    margin-bottom: 0 !important;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.hero__container_search_label{
    display: block !important;
    color: #67747c !important;
    font-weight: 400 !important;
    text-align: left !important;
    margin-bottom: 0 !important;

}

.hero__container_search_select{
    bottom: 0;
    left: 50%;
    display: block !important;
    height: 100% !important;
   
    border-style:none ;
    font-weight: 500 !important;
    color: #297cbb !important;
  

}