@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3b444f;
    text-align: left;
    background-color: #fff;
}


::before {
    box-sizing: border-box;

}

::after {
    box-sizing: border-box;
}

/* -------------------------------------------- HEADER  --------------------------------------------*/

.header__main {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

}

.header__main_container {
    box-shadow: none;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.header__main {
    display: block;
    padding-bottom: 0.5rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 0.5rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header__main_nav {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    z-index: 10;
}

.header__main_nav-logo {
    padding-top: 0.2505rem;
    padding-bottom: 0.2505rem;
    margin-right: 1.875rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #297cbb;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.header_main__navBar {
    display: flex;
    flex-basis: auto;
    position: relative;
    flex-grow: 1;
    order: 0;
}


.header_main__navBar-ul {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    margin-left: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}


.header_main__navBar-li-a {
    display: block;
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    color: #3b444f;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;

}



/* -------------------------------------------- MAIN  --------------------------------------------*/


/* HERO */


#contenedor_hero {
    position: relative;
    display: block;
}

.hero {
    display: block;
    background-image: url(https://i4.visitchile.com/img/Banner/16/main.png);
    z-index: 2;
    min-height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 12.5rem;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.hero__container_background {
    display: block;
    width: 100%;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    inset: 0px;
    pointer-events: none;
    background-image: url(https://img.youtube.com/vi/zqc3p6aqJG8/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.hero__container__background_video {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    opacity: 1;
    width: 2103px;
    height: 1182.94px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.container {
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;

}

.hero__container_title {
    display: block;
    margin-top: 1.5rem;
    padding-bottom: 5rem;
}

.hero__container_h1 {
    display: block;
    font-weight: 500;
    font-size: 3.75rem;
    color: #fff;
    position: relative;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    margin-top: 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.hero__container_options {
    display: block;
    padding-bottom: 2.5rem;
    padding-top: 1rem;


}

.hero__container_options_ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.hero__container_options_ul-li {
    margin-right: 0.25rem;
    display: list-item;
    text-align: center;
    list-style: none;
}

.hero__container_options_ul-li-a {
    display: block;
    /* border: 1px solid #408fb9;
    background-color: #408fb9; */
    border-radius: 3px;
    padding: .3rem 1.5rem;
    font-weight: 500;
    position: relative;
    color: #297cbb;
    text-decoration: none;

}

.hero__container_options_ul-li-a:focus {
    border: 1px solid #408fb9;
    background-color: #408fb9;
}


.hero__container_a {
    display: flex;
    color: #fff;
    position: relative;
    flex-direction: row;
    align-items: center;

}

.hero__container_a_fig {
    margin-right: 1rem;
    display: block;
    margin-bottom: 0;
    margin: 0 0 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;

}

.hero__container_a_i {
    font-size: 2rem;
    font-style: normal;

}

.hero__conainter_a_span {
    font-weight: 500;
    margin-top: 0;

}

.hero__container_search {
    position: relative;
    display: flex;
    background-color: #fff;
    background-clip: border-box;
    flex-direction: column;
    min-width: 0;
    border-radius: 0.3125rem;
    border: 1px solid #e7eaf3;


}

.hero__container_search-form {
    word-wrap: break-word;
    display: flex;
    flex: 1 1 auto;
    padding: 1rem;
    justify-content: space-around;

}

.icons_search {
    display: flex;
    position: inherit;
    height: 40px;
    left: -23rem;
    z-index: 0;
    top: 50px;


}



.sel {
    color: #3b444f;
    background-color: #fff;
    border: 0;
    font-weight: 500;
    padding-bottom: 14px;
    z-index: 1;
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem 0.5px;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.3125rem;
    text-transform: none;
    margin: 0;
    font-family: inherit;
    text-transform: none;
}




.paraAbajo {
    border-color: #eaeaea;
    border-bottom: 1px solid #e7eaf3;
    font-weight: normal;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #297cbb;
    word-wrap: normal;
    text-transform: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



/*BLOQUES INFO*/

.container__info {
    display: block;
    border-color: #ebf0f7;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-bottom: 1px solid #e7eaf3;
}

.container__info_main {
    display: block;
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container__info_main_row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 50px 0px;
}

.container__info_main_row-col {
    display: block;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.container__info_main_row-col_icon {
    display: flex;
    align-items: flex-start;
}

.icon::before {
    line-height: 1;
    font-size: 3.125rem;
    color: #297cbb;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-style: normal;

}


.container__info_main_row-col_icon::before {
    display: block;
    flex: 1;

}

.container__info_main-h5 {
    display: block;
    font-weight: 500;
    font-size: 1.188rem;
    color: #3b444f;
    margin-bottom: 0.25rem;
    line-height: 1.5;
    margin-top: 0;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container__info_main-p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
    color: #67747c;
    margin-top: 0;
    margin-bottom: 1rem
}


/*------------------------ DESTINOS------------------------- */

.container_destinos {
    display: block;
}


.container_destinos_main {
    display: block;
    padding-bottom: 2rem;
    padding-top: 2rem;
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container_destinos_titulo {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.container_destinos_titulo-h2,
.section-title {
    display: block;
    color: #3b444f;
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.5;
    margin-top: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.section-title::after {
    display: block;
    width: 2.5rem;
    height: 0.125rem;
    background-color: #297cbb;
    content: " ";
    margin: 1.5rem auto 0;
}


.container_destinos_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container_destinos_col {
    display: block;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1.5rem;
    flex: 0 0 50%;
    max-width: 50%;
}

.container_destinos_img-big {
    display: block;
    /* background-image: url(https://i3.visitchile.com/img/Zone/1/desierto_atacama.jpg); */
    transition: all .2s ease-in-out;
    min-height: 21.875rem;
    border-radius: 0.188rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2rem ;
    border: 0;
    position: relative;
}

.container_destinos_info {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    justify-content: space-between;

}

.container_destinos_info-pos {
    display: block;
    position: relative;
}

.container_destinos_info-a {
    display: block;
    font-weight: 500;
    background: #297cbb;
    padding: 3px 10px ;
    width: auto;
    line-height: 31px;
    font-size: 1.313rem;
    position: relative;
    color: #fff;
    margin-bottom: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
}



.container_destinos_info-a:hover,
.container_destinos_info-a:focus {
    background-color: #2980B9;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;

}

.dropdown-content a {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding-left: 0 ;
    padding-right: 0 ;
    color: #fff;
    padding: 0.375rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;

}


.show {
    display: block;

}


/*------------------------VIDEO MEDIO------------------------- */

.container__video {
    min-width: 992px;
    min-height: 600px;
    display: block;
    padding-top: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-image: url(https://i4.visitchile.com/img/Banner/16/main.png); */
    padding-bottom: 8rem ;
}

.container__video_info {
    display: block;
    text-align: center;
}

.video_info-1 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    font-size: 2.563rem;
    color: #fff;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-align: center;
}

.video_info-2 {
    display: block;
    font-weight: 500;
    font-size: 1.313rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    margin-top: 0;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;


}

.video__link {
    display: inline-block;
    color: #3b444f;
    transition: all .2s ease-in-out;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

.video__link_container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.video__link-icon {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-style: normal;
    transform: translate(-50%, -50%);
    color: #fff;
}


/*------------------------CONTACTO------------------------- */


.contact__container {
    padding-top: 2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.contact__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.contact__info {
    display: block;
    gap: 1rem;
}

.button {
    padding-top: 2rem;
    background-color: #297cbb;
    border-color: #297cbb;
    font-size: 1.3rem;
    height: 54px;
    min-width: 7rem;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.9rem 1rem;
    line-height: 1.5;
    text-transform: none;
    cursor: pointer;

}

.contact__button-icon {
    font-size: 1rem;
    transition: .4s;
}

.contact__form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    background: none;
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;

}

.contact__form-tag {

    top: -.75rem;
    left: 1.25rem;
    font-size: 1.20rem;
    padding: .25rem;
    background-color: white;
    z-index: 10;
}

.contact__form-area {
    height: 11rem;
}

.contact__form-area textarea {
    resize: none;

}


/*------------------------QUIENES SOMOS ------------------------- */

.about_img {
    margin: 4rem;
}



/* ---------------------------------------CIUDADES ---------------------------------- */

.contenedor_ciudad {
    display: block;
    width: min(120rem, 90%);
    margin: 0 auto;
}

.ciudad_title {
    color: #297cbb;
    text-align: center;
    font-size: 3rem;
}

.ciudad_gap-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
    height: 43.9rem;
}


.ciudad_imagen {
    display: block;
    width: 50%;
    height: 40rem;
    object-fit: cover;

}

.ciudad_parrafo {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.ciudad_boton-volver {
    display: inline-block;
    font-weight: 500;
    justify-self: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border: 1px solid transparent;
    padding: 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    min-width: 11.375rem;
    height: 3.75rem;
    border-radius: 3px;
    background-color: #297cbb;
    border-color: #297cbb;
    text-transform: none;
    margin: 0;
    font-family: inherit;
    text-decoration: none;
}



/*------------------------FOOTER------------------------- */
.containter__footer {
    display: block;
    padding-bottom: 2rem ;
    padding-top: 2rem;
    background-color: #297cbb;
    margin-top: 2rem;
}


.container__main {
    display: block;
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}




.container__main_centrado {
    display: block;
    align-items: center;
    justify-content: space-between;
}


.container__main_cop {
    display: flex;
    align-items: center;
    justify-content: center;

}